; Показать полную конфигурацию пакетного менеджера:
;    npm config ls -l
;
; Узнать используемый registry:
;    npm config get registry

registry = http://dragonballs.dev.mail.ru:6666
@qa:registry = http://dragonballs.dev.mail.ru:6666
